;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [#_[org.clojure/core.async "1.3.618"]
  ]

 :builds
 {:app {:main nft.core/main
        :target :node-script
        :compiler-options {:infer-interns :auto}
        :output-to "nft.js"
        ;;:js-options 
        ;;{:resolve {"contract" {:target :file
        ;;                      :file "artifacts/contracts/MyNFT.sol/MyNFT.json"}}}
        }}}
